@model IEnumerable<GamesDatabase.Web.Models.ViewModels.Genres.GenreViewModel>

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var genre in Model)
                {
                        <tr>
                            <td>@genre.Name</td>
                            <td>@genre.Description</td>
                            <td><a class="text-dark" asp-area="Administration" asp-controller="Genres" asp-action="Edit" title="Edit Genre">Edit</a></td>
                            <td><a class="text-dark" asp-area="Administration" asp-controller="Genres" asp-action="Delete" title="Delete Genre">Delete</a></td>
                        </tr>
                }
            }
        </tbody>
    </table>
</div>