@model IEnumerable<GamesDatabase.Web.Models.ViewModels.Genres.GenreViewModel>

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
            </tr>
        </thead>
        <tbody>
            @{

                foreach (var genre in Model)
                {
                    <tr>
                        <td>@genre.Name</td>
                        <td>@genre.Description</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>