@using GamesDatabase.Services.Models.ViewModels.Game
@model IEnumerable<GamesDatabase.Services.Models.ViewModels.Game.SimpleGameViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1 class="py-2">Games</h1>
<div class="py-1 bg-light">
    
</div>