@model GamesDatabase.Web.Models.ViewModels.Games.IndexGameViewModel

@{
    ViewData["Title"] = "Index";
}

<h1 class="py-4 text-center">Welcome to the Games Database</h1>
<div class="py-1 bg-light">
    <div class="container">
        <h4 class="card-title py-2 text-center">Recently Released</h4>
        <div class="row">
            <partial name="_GameCardsPartial.cshtml" model="Model.LatestReleased">
        </div>

        <hr/>

        <h4 class="card-title py-2 text-center">Random</h4>
        <div class="row">
            <partial name="_GameCardsPartial.cshtml" model="Model.Random">
        </div>
    </div>
</div>